ui-gmap-google-map {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.bubble-map {
  position: absolute;
  width: 1000px;
  height: 1000px;
}

.bubble-map circle {
  opacity: 0.5;
}
