ui-gmap-google-map {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.stations {
  position: absolute;
  width: 1000px;
  height: 1000px;
}

.stations circle {
  fill: #c41200;
  opacity: 0.8;
}
