<!DOCTYPE html>
<html>
    <head>
        <title>Yelp Data Vis</title>

        <meta charset="utf-8">

        <link rel="stylesheet"" href="http://fonts.googleapis.com/css?family=Roboto:400,500,700,400italic">
        <link rel="stylesheet" href="../node_modules/angular-material/angular-material.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


        <link rel="stylesheet" href="css/main.css">
        <link rel="stylesheet" href="css/map.css">
    </head>
    <body ng-app="yelpVis" ng-controller="MainController as mc" layout="column"  ng-cloak>
        <md-toolbar class="title-bar" layout="row">
            <div class="md-toolbar-tools">
                <md-button ng-click="tutorialActive = !tutorialActive" aria-label="Toggle Tutorial">
                    {{ tutorialActive ? 'Stop' : 'Start' }} Tutorial
                </md-button>
                <h2>Yelp Data Visualization</h2>
            </div>
        </md-toolbar>
        <div flex layout="row">
            <md-sidenav class="md-sidenav-left tutorial-container"
                        md-component-id="left"
                        md-is-locked-open="tutorialActive"
                        md-disable-backdrop>
                <md-toolbar class="md-theme-indigo">
                    <h1 class="md-toolbar-tools">Tutorial</h1>
                </md-toolbar>
                <md-content layout-padding>
                    <p>
                    This sidenav is locked open on your device. To go back to the default behavior,
                    narrow your display.
                    </p>
                </md-content>
                <md-input-container class="tutorial-buttons">
                    <md-button flex>Previous</md-button>
                    <md-button flex>Next</md-button>
                </md-input-container>
            </md-sidenav>
            <md-content flex id="content">
                <ui-gmap-google-map yelp-vis-overlay
                                    center="map.center"
                                    zoom="map.zoom"
                                    control="map.control"
                                    options="map.options">
                </ui-gmap-google-map>
            </md-content>
        </div>
        <md-toolbar class="time-toolbar md-fab-bottom-right" ng-disabled="tutorialActive">
            <div class="md-toolbar-tools" md-whiteframe="3">
                <label>Select day<label>
                <md-input-container md-no-float>
                    <md-select ng-model="selectedDay">
                        <md-option ng-value="$index" ng-repeat="day in days">{{ day }}</md-option>
                    </md-select>
                </md-input-container>
                <label>Select hour</label>
                <md-input-container>
                    <md-select ng-model="selectedHour">
                        <md-option ng-value="$index" ng-repeat="hour in hours">
                            {{ ((hour + 11) % 12) + 1 + ':00 ' + (hour < 12 ? 'AM' : 'PM') }}
                        </md-option>
                    </md-select>
                </md-input-container>
            </div>
        </md-toolbar>

        <!-- Include these modules at the end of the body tag to defer loading them until
             the rest of the page loads -->
        <script src="node_modules/lodash/lodash.js"></script>

        <!-- Include Angular modules -->
        <script src="node_modules/angular/angular.js"></script>
        <script src="node_modules/angular-animate/angular-animate.js"></script>
        <script src="node_modules/angular-aria/angular-aria.js"></script>
        <script type="text/javascript" src="node_modules/angular-material/angular-material.js"></script>
        <script src="node_modules/angular-simple-logger/dist/angular-simple-logger.js"></script>
        <script src="node_modules/angular-google-maps/dist/angular-google-maps.js"></script>

        <!-- Include d3 -->
        <script type="text/javascript" src="node_modules/d3/d3.js"></script>

        <!-- Custom modules -->
        <script type="text/javascript" src="javascript/BubbleMap.js"></script>
        <script type="text/javascript" src="javascript/app.js"></script>
        <script type="text/javascript" src="javascript/tutorialcontroller.js"></script>
    </body>
</html>
