<!DOCTYPE html>
<html>
    <head>
        <title>Yelp Data Vis</title>

        <meta charset="utf-8">

        <link rel="stylesheet"" href="http://fonts.googleapis.com/css?family=Roboto:400,500,700,400italic">
        <link rel="stylesheet" href="../node_modules/angular-material/angular-material.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


        <link rel="stylesheet" href="css/main.css">
        <link rel="stylesheet" href="css/map.css">
    </head>
    <body ng-app="yelpVis" ng-controller="MainController as mc" layout="column"  ng-cloak>
        <md-toolbar class="title-bar" layout="row">
            <div class="md-toolbar-tools">
                <md-button ng-click="tutorialActive = !tutorialActive" aria-label="Toggle Tutorial">
                    {{ tutorialActive ? 'Stop' : 'Start' }} Tutorial
                </md-button>
                <h1>Yelp Data Visualization</h1>
            </div>
        </md-toolbar>
        <section flex layout="row">
            <md-sidenav class="md-sidenav-left tutorial-container"
                        md-component-id="tutorialSidenav"
                        md-is-locked-open="tutorialActive"
                        md-disable-backdrop
                        md-whiteframe="4">
                <md-toolbar class="md-theme-indigo">
                    <h1 class="md-toolbar-tools">How Happening is Your Neighborhood?</h1>
                </md-toolbar>
                <md-content layout-padding>
                    <p>
                        Looking for a new place to live or travel can be a
                        daunting task. You could easily get lost in a sea of
                        information without getting a good sense for what a
                        place is like. To help in solving this problem, we
                        built this tool to help you understand the breakdown of
                        activity in cities using business data from Yelp!
                    </p>
                    <h2>1. Select a time</h2>
                    <p>
                        To begin, select a date and time from the time selector
                        at the bottom right of the map.
                    </p>
                    <h2>2. Explore checkin activity</h2>
                    <p>
                        Each red bubble on the screen is a business on Yelp. The
                        size of the bubble represents the relative number of
                        checkins at that business at the time selected.
                    </p>
                    <h2>3. Select a place</h2>
                    <p>
                        Interested in some more details about the Las Vegas
                        strip? You can right click and drag the mouse on an
                        area of the map to create a rectangular selection. This
                        will pop up a dialog with specific information about
                        the businesses in this area.
                        <em>Try selecting the Las Vegas strip and see what you get!</em>
                    </p>
                </md-content>
                <!--<md-input-container class="tutorial-buttons">
                    <md-button>Previous</md-button>
                    <md-button>Next</md-button>
                </md-input-container>-->
            </md-sidenav>
            <md-content flex id="content">
                <ui-gmap-google-map yelp-vis-overlay rect-selectable
                                    center="map.center"
                                    zoom="map.zoom"
                                    control="map.control"
                                    options="map.options">
                </ui-gmap-google-map>
            </md-content>
        </section>
        <md-toolbar class="time-toolbar md-fab-bottom-right" ng-disabled="tutorialActive">
            <div class="md-toolbar-tools" md-whiteframe="3">
                <md-input-container>
                    <label>Select day</label>
                    <md-select ng-model="selectedDay">
                        <md-option ng-value="$index" ng-repeat="day in days">
                            {{ day }}
                        </md-option>
                    </md-select>
                </md-input-container>
                <md-input-container>
                    <label>Select hour</label>
                    <md-select ng-model="selectedHour">
                        <md-option ng-value="$index" ng-repeat="hour in hours">
                            {{ ((hour + 11) % 12) + 1 + ':00 ' + (hour < 12 ? 'AM' : 'PM') }}
                        </md-option>
                    </md-select>
                </md-input-container>
                <md-button class="md-icon-button md-raised" aria-label="Settings"
                           ng-click="toggleRectSelection()"
                           ng-disabled="!map.options.draggable">
                    <md-icon md-font-set="md">picture_in_picture</md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <div id="business-dialog-container"></div>

        <!-- Include these modules at the end of the body tag to defer loading them until
             the rest of the page loads -->
        <script src="node_modules/lodash/lodash.js"></script>

        <!-- Include Angular modules -->
        <script src="node_modules/angular/angular.js"></script>
        <script src="node_modules/angular-animate/angular-animate.js"></script>
        <script src="node_modules/angular-aria/angular-aria.js"></script>
        <script type="text/javascript" src="node_modules/angular-material/angular-material.js"></script>
        <script src="node_modules/angular-simple-logger/dist/angular-simple-logger.js"></script>
        <script src="node_modules/angular-google-maps/dist/angular-google-maps.js"></script>

        <!-- Include d3 -->
        <script type="text/javascript" src="node_modules/d3/d3.js"></script>

        <!-- Custom d3 modules -->
        <script type="text/javascript" src="javascript/bubblemap.js"></script>

        <!-- Custom Angular modules -->
        <script type="text/javascript" src="javascript/app.js"></script>
        <script type="text/javascript" src="javascript/yelpvisoverlaydirective.js"></script>
        <script type="text/javascript" src="javascript/tutorialcontroller.js"></script>
        <script type="text/javascript" src="javascript/rectselectabledirective.js"></script>
        <script type="text/javascript" src="javascript/businessdialogcontroller.js"></script>
    </body>
</html>
